extends layout.pug

block content
  main.content
    h1.note-title #{ employeeDetail.name }
    p.note-desc #{ employeeDetail.id }
    p.note-desc #{ employeeDetail.surname }
    p.note-desc #{ employeeDetail.position }
    p.note-desc #{ employeeDetail.dob }
    p.note-desc #{ employeeDetail.address }
    p.note-desc #{ employeeDetail.passport }
    p.note-desc #{ employeeDetail.phone }
    p.note-desc #{ employeeDetail.education }
    p.note-desc #{ employeeDetail.mstatus }