extends layout.pug

block content
  main.content
    h1.note-title #{ noteDetail.name }
    p.note-desc #{ noteDetail.id }
    p.note-desc #{ noteDetail.surname }
    p.note-desc #{ noteDetail.position }
    p.note-desc #{ noteDetail.dob }
    p.note-desc #{ noteDetail.address }
    p.note-desc #{ noteDetail.passport }
    p.note-desc #{ noteDetail.phone }
    p.note-desc #{ noteDetail.education }
    p.note-desc #{ noteDetail.mstatus }