extends layout.pug

block content
  main.content
    label.lbl-details Unique ID of employee
        p.emp-info #{ employeeDetail.id }

    label.lbl-details Name of employee
        p.emp-info #{ employeeDetail.name }
        
    label.lbl-details Surname of employee
        p.emp-info #{ employeeDetail.surname }

    label.lbl-details Position of employee
        p.emp-info #{ employeeDetail.position }

    label.lbl-details Date of birth of employee
        p.emp-info #{ employeeDetail.dob }

    label.lbl-details Address of employee
        p.emp-info #{ employeeDetail.address }

    label.lbl-details Passport № of employee
        p.emp-info #{ employeeDetail.passport }

    label.lbl-details Pnone number of employee
        p.emp-info #{ employeeDetail.phone }

    label.lbl-details Educational background of employee
        p.emp-info #{ employeeDetail.education }

    label.lbl-details Marital status of employee
        p.emp-info #{ employeeDetail.mstatus }