extends layout.pug

block content
  main.content
    h1.form-title Update Employee #{ emp.name }

    if error
      p.error Error occured. Try again!

    if success
      p.success Employee is saved. 

    form.form(method='POST' action=`/employees/${emp.id}/update`)
      label Name
      input.input(type='text' name='EmpName' value=`${emp.name}`)
      br

      label Surname
      input.input(type='text' name='EmpSurname' value=`${emp.surname}`)
      br 

      label Position
      input.input(type='text' name='EmpPosition' value=`${emp.position}`)
      br 

      label Date of Birth
      input.input(type='date' name='EmpDoB' value=`${emp.dob}`)
      br 

      label Address 
      input.input(type='text' name='EmpAddress' value=`${emp.address}`)
      br 

      label Passport №
      input.input(type='text' name='EmpPassport' value=`${emp.passport}`)
      br
      
      label Phone number
      input.input(type="tel" name="EmpPhone" pattern="998[0-9]{2}[0-9]{3}[0-9]{2}[0-9]{2}" required  value=`${emp.phone}`)       
      br

      label Educational background 
      input.input(type='text' name='EmpEdu' value=`${emp.education}`) 
      br

      label Marital status
      br
      input.input(type="radio" name='EmpStatus' value='married')
      label Married
      br
      input.input(type="radio" name='EmpStatus' value='single' checked)
      label Single
      br
      input.input(type="radio" name='EmpStatus' value='divorced')
      label Divorced
      br


    
        
      button.btn Update